// Global
@import "global/fonts";
@import "global/normalize";
@import "global/scaffolding";
@import "global/general";
// Components
@import "components/header-index";
@import "components/header";
@import "components/our-features";
@import "components/our-objects";
@import "components/our-partners";
@import "components/what-we-do";
@import "components/feedback";
@import "components/footer";
// общие стили
a:hover {
	transition: 0.3s;
	color: #1597cf;
}

.btn {
	display: inline-block;
	padding: 10px 38px;
	font-size: 1.6rem;
	line-height: 20px;
	margin-top: 15px;
	border: 1px solid #1c96ce;
	cursor: pointer;
	transition: 0.3s;
	@media (max-width: $mobile) {
		font-size: 1.3rem;
	}
}

.logo {
	flex-basis: 100%;
	max-width: 90px;
	max-height: 47px;
}

.slider-buttons {
	display: inline-block;
	font-size: 1.1rem;
	border: 1px solid #1597cf;
	&__prev,
	&__next {
		display: inline-block;
		vertical-align: middle;
		padding: 5px 7px;
		cursor: pointer;
	}
	&__prev:focus,
	&__next:focus {
		outline: none;
	}
	&__prev {
		color: #1597cf;
	}
	&__next {
		color: #ffffff;
		background-color: #1597cf;
	}
}

// общие стили
//------------------------------------------
// PAGE: ingex.html
.index {
	// MAIN
	.about-us-and-news {
		display: flex;
		justify-content: space-between;
		padding-top: 85px;
		padding-bottom: 80px;
		@media (max-width: 780px) {
			flex-wrap: wrap;
			max-width: 100%;
		}
		@media (max-width: $mobile) {
			padding-top: 40px;
			padding-bottom: 40px;
		}
		& > .container {
			display: flex;
			@media (max-width: $tablet) {
				flex-wrap: wrap;
			}
		}
		&__info {
			display: inline-block;
			vertical-align: top;
			max-width: 635px;
			margin-right: auto;
			@media (max-width: $mobile) {
				margin-right: 0;
			}
		}
		&__last-news {
			display: inline-block;
			vertical-align: top;
			overflow: hidden;
			width: 430px;
			@media (max-width: $tablet) {
				width: 100%;
				margin: 0 auto;
			}
			@media (max-width: 480px) {
				max-width: 100%;
			}
			&-inner-wrap {
				display: flex;
				justify-content: space-between;
				align-items: baseline;
			}
		}
	}
	.info {
		&__header {
			margin-top: 0;
			text-transform: uppercase;
			font-size: 2rem;
			font-weight: 300;
			@media (max-width: $mobile) {
				font-size: 1.7rem;
			}
			& strong {
				font-weight: 500;
			}
		}
		&__text {
			color: #767676;
			font-size: 1.5rem;
			line-height: 19px;
			margin-bottom: 15px;
			@media (max-width: $mobile) {
				font-size: 1.3rem;
			}
		}
	}
	.last-news {
		text-align: right;
		&__header {
			display: inline-block;
			vertical-align: bottom;
			margin-top: 0;
			text-transform: uppercase;
			font-size: 2rem;
			font-weight: 300;
			@media (max-width: $tablet) {
				margin-top: 55px;
			}
			@media (max-width: $mobile) {
				font-size: 1.7rem;
				margin-top: 25px;
			}
			& strong {
				font-weight: 500;
			}
		}
		&__link-all-news {
			display: inline-block;
			margin-top: 30px;
			font-size: 1.3rem;
			color: #757575;
			text-decoration: underline;
			&:hover {
				color: #1597cf;
			}
		}
	}
	.responsive-last-news-slider {
		margin: 0 -14px;
		@media(max-width: $tablet) {
			margin: 0;
		}
		@media(max-width: 400px) {
			width: 250px;
			margin: 0 auto;
		}
		& .slick-slide {
			margin: 0 14px;
		}
	}
	.slide-news {
		border: 1px solid #ebebeb;
		padding-bottom: 10px;
		outline: none;
		cursor: pointer;
		&__img {
			display: block;
			width: 100%;
			height: 130px;
		}
		&__header {
			display: block;
			margin-top: 16px;
			margin-bottom: 9px;
			text-align: center;
			font-size: 1.5rem;
			padding: 0 14px;
		}
		&__text {
			padding: 0 14px;
			overflow: hidden;
			text-overflow: clip;
			font-size: 1.3rem;
			color: #757575;
			max-height: 80px;
			text-align: left;
		}
		&__link {
			color: #3a86a9;
			display: block;
			text-align: right;
			margin-right: 10px;
		}
	}
	// MAIN
}

// PAGE: ingex.html
//------------------------------------------
//------------------------------------------
// PAGE: about-company.html
.about-company {
	// MAIN
	.history {
		padding-top: 80px;
		padding-bottom: 75px;
		@media(max-width: $tablet) {
			padding-top: 50px;
			padding-bottom: 20px;
		}
		&__img {
			display: block;
			max-width: 458px;
			width: 100%;
			margin-right: 20px;
			float: left;
			@media(max-width: $tablet) {
				max-width: 350px;
				width: 100%;
			}
			@media(max-width: 600px) {
				float: none;
				margin-right: 0;
				margin-bottom: 15px;
			}
		}
		&__header {
			margin-top: 0;
			font-size: 2rem;
			font-weight: 300;
			text-transform: uppercase;
		}
		&__header strong {
			font-weight: 500;
		}
		&__text {
			color: #757575;
			margin-bottom: 25px;
			font-size: 1.5rem;
		}
	}
	.our-mission {
		padding-bottom: 45px;
		@media(max-width: $tablet) {
			padding-bottom: 20px;
		}
		&__header {
			margin-top: 0;
			font-size: 2rem;
			font-weight: 300;
			text-transform: uppercase;
		}
		&__header strong {
			font-weight: 500;
		}
		&__text {
			color: #757575;
			margin-bottom: 25px;
			font-size: 1.5rem;
		}
	}
	.our-team {
		overflow: hidden;
		padding-bottom: 80px;
		&__inner-wrap {
			display: flex;
			justify-content: space-between;
			align-items: baseline;
		}
		&__header {
			display: inline-block;
			vertical-align: top;
			font-size: 2rem;
			font-weight: 300;
			text-transform: uppercase;
			margin-bottom: 30px;
			& strong {
				font-weight: 500;
			}
		}
		&-slider {
			margin: 0 -15px;
			& .slick-slide {
				margin: 0 15px;
				@media (max-width: $tablet) {
					margin: 0 30px;
				}
			}
		}
		&__slide {
			&-img img {
				width: 100%;
				margin-bottom: 15px;
			}
			&-title {
				font-size: 2rem;
				color: #333333;
				font-weight: 400;
			}
			&-sub-title {
				font-size: 1.5rem;
				color: #757575;
				font-weight: 300;
			}
		}
	}
	// MAIN
}

// PAGE: about-company.html
//------------------------------------------

//------------------------------------------
// PAGE: objects.html
.objects-page .our-partners {
	padding-top: 50px;
}

.objects {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	padding-top: 80px;
	// padding-bottom: 30px;
}

.objects__tabs {
	display: flex;
	justify-content: space-around;
	width: 610px;
	margin: 0 auto;
	&-wrap {
		position: relative;
		width: 100%;
		&::after {
			position: absolute;
			bottom: 0;
			left: 0;
			content: "";
			display: block;
			width: 100%;
			height: 1px;
			background-color: #ebebeb;
		}
	}
	&-tablinks {
		padding: 0;
		padding-bottom: 11px;
		border-bottom: 2px solid transparent;
		color: #2b2d42;
		font-size: 15px;
		font-weight: 400;
		letter-spacing: 1.13px;
		cursor: pointer;
		outline: none;
		&:hover {
			color: #1c96ce;
			border-bottom: 2px solid #1c96ce;
		}
	}
}

.objects__tabs-tablinks--active {
	color: #1c96ce;
	border-bottom: 2px solid #1c96ce;
}

.object__tabs-content {
	display: none;
	justify-content: flex-start;
	width: 1142px;
}

.object-list {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	padding-top: 35px;
	&__item {
		margin-right: 30px;
		margin-bottom: 30px;
		&:nth-child(4n) {
			margin-right: 0;
		}
	}
	&__link {
		position: relative;
		display: block;
		width: 263px;
		height: 195px;
		&:hover .link-info {
			display: flex;
			animation: objShow 0.3s;
		}
	}
	& .link-info {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: rgba(86, 135, 216, 0.8);
			z-index: 1;
		}
		&__title {
			color: #ffffff;
			font-size: 20px;
			font-weight: 400;
			line-height: 25px;
			text-decoration: underline;
			z-index: 2;

		}
		&__text {
			color: #ffffff;
			font-size: 15px;
			font-weight: 400;
			line-height: 19px;
			letter-spacing: 0.75px;
			z-index: 2;
		}
	}
}

@keyframes objShow {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

// PAGE: objects.html
//------------------------------------------