@import "global/fonts";
@import "global/normalize";
@import "global/scaffolding";
@import "global/general";

a:hover {
    color: #1597cf;
}

.btn {
    display: inline-block;
    padding: 1rem 3.8rem;
    font-size: 1.6rem;
    line-height: 2rem;
    margin-top: 1.5rem;
    border: 1px solid #1c96ce;
    cursor: pointer;
    @media (max-width: $mobile) {
        font-size: 1.3rem;
    }
}

.logo {
    width: 100%;
    max-width: 9rem;
    max-height: 4.7rem;
}

// HEADER
.header {
    min-height: 55rem;
    background: url(../img/header-bg.jpg) center center no-repeat;
    background-size: cover;
    color: #ffffff;
    & .container-full {
        border-bottom: 1px solid rgba(248, 248, 248, .2);
        padding-bottom: 0.8rem;
        @media (max-width: $tablet) {
            padding-bottom: 0;
        }
    }
    &__text h1 {
        font-size: 4.8rem;
        text-align: center;
        font-weight: 700;
        margin: 0;
        margin-top: 7rem;
        @media (max-width: $tablet) {
            font-size: 4rem;
            margin-top: 5rem;
        }
        @media (max-width: $mobile) {
            font-size: 1.8rem;
            margin-top: 5rem;
        }
    }
    &__text h2 {
        margin: 0;
        font-size: 2rem;
        text-align: center;
        font-weight: 300;
        @media (max-width: $mobile) {
            font-size: 1.5rem;
        }
    }
    &__servises {
        margin-top: 7rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-end;
        @media (max-width: $tablet) {
            justify-content: space-around;
            align-items: baseline;
            margin-top: 5rem;
        }
        &-link {
            display: inline-block;
            max-width: 13rem;
            height: 16.5rem;
            width: 100%;
            text-align: center;
            padding-top: 10rem;
            font-size: 1.5rem;
            background-size: 60%;
            background-position: top center;
            background-repeat: no-repeat;
            @media (max-width: $tablet) {
                font-size: 1.3rem;
                max-width: 10rem;
                word-wrap: break-word;
                font-size: 1.3rem;
            }
            @media (max-width: $mobile) {
                max-width: 8rem;
                padding-top: 8rem;
                height: 13.5rem;
            }
            &--conditioning {
                background-image: url(../img/icons/servises-1.png);
                background-size: 83%;
            }
            &--conditioning:hover {
                background-image: url(../img/icons/servises-1-2.png);
            }
            &--ventilation {
                background-image: url(../img/icons/servises-2.png);
                background-size: 65%;
            }
            &--ventilation:hover {
                background-image: url(../img/icons/servises-2-2.png);
            }
            &--heating {
                background-size: 41%;
                background-image: url(../img/icons/servises-3.png);
            }
            &--heating:hover {
                background-image: url(../img/icons/servises-3-2.png);
            }
            &--fire-systems {
                background-image: url(../img/icons/servises-4.png);
            }
            &--fire-systems:hover {
                background-image: url(../img/icons/servises-4-2.png);
            }
            &--water {
                background-image: url(../img/icons/servises-5.png);
                background-size: 84%;
            }
            &--water:hover {
                background-image: url(../img/icons/servises-5-2.png);
            }
        }
    }
}

.top-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 8.8rem;
    padding-top: 2rem;
    @media (max-width: $tablet) {
        padding-top: 0;
    }
    &__nav {
        max-width: 64rem;
        width: 100%;
        margin: 0 1.5rem;
        @media (max-width: $tablet) {
            max-width: 25rem;
            margin-top: 3rem;
        }
        @media (max-width: 600px) {
            display: none;
        }
    }
    &__contacts {
        max-width: 23rem;
        width: 100%;
        text-align: right;
        font-family: $f-main;
        font-size: 2rem;
        @media (max-width: $tablet) {
            max-width: 15rem;
            font-size: 1.5rem;
        }
        @media (max-width: 600px) {
            display: none;
        }
        &-mail {
            text-decoration: underline;
            @media (max-width: $tablet) {
                font-size: 1.3rem;
            }
        }
    }
}

.nav-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    &__item-link {
        font-family: $f-main;
        font-size: 1.5rem;
    }
    &__item {
        position: relative;
        @media (max-width: $tablet) {
            margin-bottom: 3.5rem;
        }
        &:first-child:hover .drop-menu {
            display: flex;
            top: 200%;
            opacity: 1;
            transition: .5s opacity;
        }
    }
}

.drop-menu {
    position: absolute;
    top: -9999px;
    left: -65%;
    display: flex;
    justify-content: space-around;
    width: 43rem;
    background-color: #000000;
    color: #ffffff;
    font-size: 1.5rem;
    opacity: 0;
    z-index: 50;
    @media (max-width: $tablet) {
        font-size: 1.3rem;
    }
    &::after {
        position: absolute;
        content: "";
        top: -10%;
        left: 0%;
        display: block;
        width: 135px;
        height: 25px;
        background-color: transparent;
    }
    &__list {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 155px;
        height: 215px;
        line-height: 3.4rem;
        &--second-block {
            padding-left: 0;
            width: 155px;
            height: 215px;
        }
    }
}

.mobile-menu {
    width: 5rem;
    &__btn {
        display: none;
        font-size: 3rem;
        cursor: pointer;
        @media (max-width: 600px) {
            display: block;
        }
        &:active {
            color: #ffffff;
        }
    }
    &-nav-list {
        display: none; // position: absolute;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        min-width: 65vw;
        overflow: auto; // height: 100vh;
        min-width: 65vw;
        background-color: #ffffff;
        font-size: 1.5rem;
        color: #000000;
        text-align: left;
        padding-top: 3rem;
        padding-left: 3rem;
        z-index: 100;
        @media (max-width: $mobile) {
            font-size: 1.2rem;
        }
        @media (max-width: 300px) {
            font-size: 1rem;
            word-wrap: break-word;
            padding-left: 1.5rem;
        }
        &--show {
            display: block;
        }
        & .mobile-menu__btn--open {
            position: absolute;
            top: 0%;
            right: 5%;
            font-size: 1.5rem;
            padding: 10px;
        }
        &__item {
            margin-bottom: 3rem;
            @media (max-width: $mobile) {
                margin-bottom: 2rem;
            }
            &-link--active {
                color: #1597cf;
            }
        }
    }
    &-drop {
        display: none;
        margin-top: 10px;
        &__list {
            padding-left: 0.7rem;
            max-width: 40vw;
        }
        &__list-item {
            line-height: 2.7rem;
        }
        &--show {
            display: block;
        }
    }
}

// HEADER
// MAIN
.about-us-and-news {
    display: flex;
    justify-content: space-between;
    padding-top: 8.5rem;
    padding-bottom: 8rem;
    @media (max-width: 780px) {
        flex-wrap: wrap;
        max-width: 100%;
    }
    &__info {
        max-width: 63.5rem;
        margin-right: 2rem;
        @media (max-width: $mobile) {
            margin-right: 0;
        }
    }
    &__last-news {
        max-width: 44rem;
        width: 100%;
        @media (max-width: $tablet) {
            flex-wrap: wrap;
            max-width: 90%;
            margin: 0 auto;
        }
    }
}

.info {
    &__header {
        margin-top: 0;
        text-transform: uppercase;
        font-size: 2rem;
        font-weight: 300;
        @media (max-width: $mobile) {
            font-size: 1.7rem;
        }
        & strong {
            font-weight: 500;
        }
    }
    &__text {
        color: #767676;
        font-size: 1.5rem;
        line-height: 1.9rem;
        margin-bottom: 1.5rem;
        @media (max-width: $mobile) {
            font-size: 1.3rem;
        }
    }
}

.last-news {
    &__header {
        display: inline-block;
        vertical-align: bottom;
        margin-top: 0;
        text-transform: uppercase;
        font-size: 2rem;
        font-weight: 300;
        @media (max-width: $tablet) {
            margin-top: 5.5rem;
        }
        @media (max-width: $mobile) {
            font-size: 1.7rem;
        }
        & strong {
            font-weight: 500;
        }
    }
    &__link-all-news {
        display: block;
        width: 100%;
        margin-top: 3rem;
        font-size: 1.3rem;
        color: #757575;
        text-decoration: underline;
        text-align: right;
    }
}

.slider-buttons {
    display: inline-block;
    font-size: 1.1rem;
    border: 1px solid #1597cf;
    &__prev,
    &__next {
        display: inline-block;
        vertical-align: middle;
        padding: 0.5rem 0.7rem;
        cursor: pointer;
    }
    &__prev:focus,
    &__next:focus {
        outline: none;
    }
    &__prev {
        color: #1597cf;
    }
    &__next {
        color: #ffffff;
        background-color: #1597cf;
    }
}

.slider {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: hidden;
    margin: 0 auto;
    @media (max-width: 600px) {
        width: 420px;
    }
    @media (max-width: 480px) {
        width: 220px;
    }
}

.slide-news {
    max-width: 20rem;
    width: 100%;
    margin: 0 1rem;
    border: 1px solid #ebebeb;
    padding-bottom: 1rem;
    @media (max-width: 480px) {
        max-width: 100%;
    }
    &__img {
        display: block;
        width: 100%;
        height: 130px;
    }
    &__header {
        display: block;
        margin-top: 1.6rem;
        margin-bottom: 0.9rem;
        text-align: center;
        font-size: 1.5rem;
        padding: 0 1.4rem;
    }
    &__text {
        padding: 0 1.4rem;
        overflow: hidden;
        text-overflow: clip;
        font-size: 1.3rem;
        color: #757575;
        max-height: 8rem;
    }
    &__link {
        color: #3a86a9;
        display: block;
        text-align: right;
        margin-right: 1rem;
    }
}

.our-features {
    padding: 7rem 0;
    background-color: #fafafa;
    &__header-text {
        font-size: 2rem;
        text-transform: uppercase;
        margin-bottom: 4.4rem;
    }
    &__header-text span {
        font-weight: 300;
    }
}

.feature-cards {
    display: flex;
    justify-content: space-between;
    @media (max-width: 1050px) {
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

.feature-card {
    align-self: stretch;
    max-width: 26.2rem;
    width: 100%;
    padding-top: 4rem;
    padding: 4rem 2.8rem 3.8rem;
    background-color: #ffffff;
    box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.15);
    color: #333333;
    line-height: 20px;
    font-size: 1.5rem;
    text-align: center;
    margin-right: 20px;
    margin-bottom: 20px;
    &:nth-child(even) {
        margin-right: 0;
    }
    @media (max-width: 600px) {
        margin-right: 0;
    }
    &__header {
        font-weight: 400;
        font-size: 1.8rem;
        color: #1c96ce;
        margin-top: 2.8rem;
        margin-bottom: 1.8rem;
    }
}

.our-objects {
    padding-top: 8rem;
    padding-bottom: 10rem;
    &__header {
        display: inline-block;
        vertical-align: top;
        text-transform: uppercase;
        margin-bottom: 5rem;
        font-size: 2rem;
    }
    &__header span {
        font-weight: 300;
    }
}

.our-objects-slide {
    position: relative;
    display: flex !important;
    justify-content: space-between;
    @media (max-width: $tablet) {
        flex-direction: column;
        align-items: center;
    }
    &__img {
        max-width: 55.4rem;
        width: 100%;
        height: 26.5rem;
        margin-right: 3rem;
        @media (max-width: $tablet) {
            margin-right: 0;
            height: auto;
            margin-bottom: 20px;
        }
    }
    &__header {
        font-size: 2rem;
        font-weight: 400;
        margin-top: 0;
        margin-bottom: 2.8rem;
    }
    &__text {
        font-size: 1.5rem;
        margin-bottom: 2.5rem;
    }
    &__all-objects {
        position: absolute;
        right: 0;
        bottom: 3%;
        color: #757575;
        font-size: 1.3rem;
        font-weight: 300;
        text-decoration: underline;
        text-align: right;
        @media (max-width: $tablet) {
            right: 3%;
        }
    }
    &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 55.6rem;
        width: 100%;
        &>.btn {
            align-self: flex-start;
        }
    }
}

.feedback {
    padding: 7.5rem 0;
    background: url(../img/feedback-bg.jpg) center no-repeat;
    background-size: cover;
}

.feedback-block {
    max-width: 36rem;
    width: 100%;
    background-color: #ffffff;
    margin: 0 auto;
    padding: 3.9rem 5.1rem 6rem;
    text-align: center;

    &__header {
        margin-bottom: 5rem;
        font-size: 2rem;
        line-height: 2.4rem;
        text-transform: uppercase;
    }
    &__form input {
        display: block;
        width: 16.5rem;
        padding: 0.8rem 0;
        margin: 0 auto;
        font-size: 1.5rem;
        border-bottom: 1px solid #9697a1;
        text-align: center;
        margin-bottom: 4rem;
    }
    &__form input:focus {
        outline: none;
    }
    &__form button {
        display: inline-block;
        padding: 1rem 3.8rem;
        font-size: 1.6rem;
        line-height: 2rem;
        letter-spacing: 1px;
        color: #ffffff;
        background-color: #1c96ce;
        cursor: pointer;
    }
}

.our-partners {
    padding: 10rem 0;
    &__header {
        font-size: 2rem;
        margin-bottom: 9rem;
        & span {
            font-weight: 300;
        }
    }
    &__images {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        @media (max-width: 400px) {
            // flex-direction: column;
            justify-content: center;
        }
        & div {
            max-width: 19rem;
            text-align: center;
            width: 100%;
            margin-bottom: 5rem;
        }
    }
}

// MAIN
// FOOTER
.footer {
    background-color: #f9f9f9;
    padding-top: 4rem;
    padding-bottom: 5rem;
    &__column-info {
        font-size: 1.3rem;
        margin-right: 20px;
        @media (max-width: $mobile) {
            margin-right: 5px;
            font-size: 1.2rem;
        }
    }
}

.social-links {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: 3rem;
    width: 10rem;
    color: #2b2d42;
    font-size: 1.8rem;
    @media (max-width: 400px) {
        font-size: 1.4rem;
    }
}

.phone {
    font-size: 1.5rem;
    max-width: 117px;
    width: 100%;
    margin-bottom: 30px;
    &__number {
        line-height: 30px;
    }
    @media (max-width: 400px) {
        font-size: 1.3rem;
    }
}

.adress {}

.copyright {
    margin-top: 40px;
}

.footer-nav {
    max-width: 750px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-right: 100px;
    font-size: 1.3rem;
    &__list {
        display: flex;
        flex-direction: column;
        &-item {
            margin-bottom: 15px;
            & .fa-angle-down {
                display: none;
                @media (max-width: 650px) {
                    display: inline-block;
                }
            }
        }
        &-link {
            font-size: 1.3rem;
            text-transform: uppercase;
            font-weight: 500;
            margin-bottom: 14px;
            @media (max-width: 400px) {
                font-size: 1.2rem;
            }
        }
    }
    &__sub-list {
        margin-top: 17px;
        &-item {
            margin-bottom: 15px;
        }
        @media (max-width: 650px) {
            display: none;
        }
    }
    @media (max-width: 1050px) {
        margin-right: 0;
    }
    @media (max-width: 650px) {
        max-width: 200px;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
}

// FOOTER