section.feedback
	.feedback-block
		h2.feedback-block__header
			| ОСТАВЬТЕ ЗАЯВКУ
			br
			|  И МЫ ВАМ ПЕРЕЗВОНИМ
		form.feedback-block__form(action='')
			input(type='text', name='name', placeholder='Ваше имя')
			input(type='text', name='number', placeholder='Ваш телефон')
			button Оставить