section.our-objects
  .container
    .our-objects__inner-wrap
      h2.our-objects__header
        | Наши
        strong  объекты
      .slider-buttons
        button.slider-buttons__prev.slider-buttons__prev--our-objects
          i.fa.fa-chevron-left(aria-hidden='true')
        button.slider-buttons__next.slider-buttons__next--our-objects.slick-arrow--active
          i.fa.fa-chevron-right(aria-hidden='true')

    .slider.our-objects-slider

      .our-objects-slide
        .our-objects-slide__img
          img(src='img/object-img.jpg', alt='')
        .our-objects-slide__info
          h3.our-objects-slide__header Останкинская телебашня
          p.our-objects-slide__text
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
            | magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea com
          p.our-objects-slide__text
            | modo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            | pariatur. Excepteur sint occaecat cupi
          a.btn(href='#') Подробнее
          a.our-objects-slide__all-objects(href='#') Посмотреть все объекты

      .our-objects-slide
        .our-objects-slide__img
          img(src='img/object-img.jpg', alt='')
        .our-objects-slide__info
          h3.our-objects-slide__header Останкинская телебашня
          p.our-objects-slide__text
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
            | magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea com
          p.our-objects-slide__text
            | modo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            | pariatur. Excepteur sint occaecat cupi
          a.btn(href='#') Подробнее
          a.our-objects-slide__all-objects(href='#') Посмотреть все объекты

      .our-objects-slide
        .our-objects-slide__img
          img(src='img/object-img.jpg', alt='')
        .our-objects-slide__info
          h3.our-objects-slide__header Останкинская телебашня
          p.our-objects-slide__text
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
            | magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea com
          p.our-objects-slide__text
            | modo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            | pariatur. Excepteur sint occaecat cupi
          a.btn(href='#') Подробнее
          a.our-objects-slide__all-objects(href='#') Посмотреть все объекты