section.our-features
	.container
		h2.our-features__header
			| Наши 
			strong преимущества
		.feature-card
			+feature-card([
				{
					"img": "img/icons/features-1.png",
					"title": "Опыт работы",
					"text": "Мы ведем профессиональную деятельность с 2006 года, оказывая проектные и строительные услуги в сфере инженерных коммуникаций.",
				},
				{
					"img": "img/icons/features-2.png",
					"title": "Полный комплект услуг",
					"text": "Монтажные работы вентиляционных, отопительных,кондициониру-ющих, систем водоснабжения и систем пожаротушения",
				},
				{
					"img": "img/icons/features-3.png",
					"title": "Страхование на 60 млн",
					"text": "Все работы, выполняемые нашей организацией, подлежат комплексному страхованию в крупнейших страховых компаниях.",
				},
				{
					"img": "img/icons/features-4.png",
					"title": "Уникальные объекты",
					"text": "Опыт монтажа и сервисного обслуживания, на особо технически сложных и уникальных объектах",
				},
			])