section.what-we-do
  .container
    .what-we-do__inner-wrap
      h2.what-we-do__header
        | Что 
        strong мы делаем
      .slider-buttons
        button.slider-buttons__prev.slider-buttons__prev--what-we-do
          i.fa.fa-chevron-left(aria-hidden='true')
        button.slider-buttons__next.slider-buttons__next--what-we-do
          i.fa.fa-chevron-right(aria-hidden='true')
    .slider.what-we-do-slider
      +what-we-do-slides([
        {
          "img": "img/what-we-do/what-we-do-img-1.jpg",
          "text": "Выполняем комплексное техническое обслуживание, диагностику и ремонт систем чиллер-фанкойл и VRF (VRV)",
          "href": "#",
          "hrefText": "систем кондиционирования"
        },
        {
          "img": "img/what-we-do/what-we-do-img-2.jpg",
          "text": "Проектирование, поставка, монтаж, пуско-наладочные работы и сервисное обслуживание",
          "href": "#",
          "hrefText": "систем вентиляции"
        },
        {
          "img": "img/what-we-do/what-we-do-img-3.jpg",
          "text": "Проектирование, поставка, монтаж, пуско-наладочные работы и сервисное обслуживание",
          "href": "#",
          "hrefText": "отопительных систем"
        },
        {
          "img": "img/what-we-do/what-we-do-img-4.jpg",
          "text": "Проектирование, поставка, монтаж, пуско-наладочные работы и сервисное обслуживание",
          "href": "#",
          "hrefText": "противопожарных систем"
        },
        {
          "img": "img/what-we-do/what-we-do-img-1.jpg",
          "text": "Выполняем комплексное техническое обслуживание, диагностику и ремонт систем чиллер-фанкойл и VRF (VRV)",
          "href": "#",
          "hrefText": "систем кондиционирования"
        },
        {
          "img": "img/what-we-do/what-we-do-img-2.jpg",
          "text": "Проектирование, поставка, монтаж, пуско-наладочные работы и сервисное обслуживание",
          "href": "#",
          "hrefText": "систем вентиляции"
        },
        {
          "img": "img/what-we-do/what-we-do-img-3.jpg",
          "text": "Проектирование, поставка, монтаж, пуско-наладочные работы и сервисное обслуживание",
          "href": "#",
          "hrefText": "отопительных систем"
        },
        {
          "img": "img/what-we-do/what-we-do-img-4.jpg",
          "text": "Проектирование, поставка, монтаж, пуско-наладочные работы и сервисное обслуживание",
          "href": "#",
          "hrefText": "противопожарных систем"
        }
      ])