.our-objects {
		padding-top: 80px;
		padding-bottom: 100px;
		@media (max-width: $mobile) {
			padding-top: 40px;
			padding-bottom: 50px;
		}
		&__inner-wrap {
			display: flex;
			justify-content: space-between;
			align-items: baseline;
		}
		&__header {
			display: inline-block;
			vertical-align: top;
			margin-bottom: 50px;
			font-size: 2rem;
			font-weight: 300;
			text-transform: uppercase;
		}
		&__header strong {
			font-weight: 500;
		}
	}

	.our-objects-slide {
		position: relative;
		display: flex !important;
		justify-content: space-between;
		height: auto;
		outline: none;
		cursor: pointer;
		@media (max-width: $tablet) {
			flex-direction: column;
			align-items: center;
		}
		&__img {
			max-width: 554px; // width: 100%;
			flex-basis: 100%;
			height: 265px;
			margin-right: 30px;
			@media (max-width: $tablet) {
				margin-right: 0;
				height: auto;
				margin-bottom: 20px;
			}
		}
		&__header {
			font-size: 2rem;
			font-weight: 400;
			margin-top: 0;
			margin-bottom: 28px;
		}
		&__text {
			font-size: 1.5rem;
			margin-bottom: 25px;
		}
		&__all-objects {
			position: absolute;
			right: 0;
			bottom: 3%;
			color: #757575;
			font-size: 1.3rem;
			font-weight: 300;
			text-decoration: underline;
			text-align: right;
			@media (max-width: $tablet) {
				right: 3%;
			}
			@media (max-width: 401px) {
				display: none;
			}
		}
		&__info {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			max-width: 556px; // width: 100%;
			flex-basis: 100%;
			&>.btn {
				margin: 0;
				margin-bottom: 1px;
				align-self: flex-start;
			}
		}
	}